{% extends 'flatpages/default.html' %}

{% block title %}
Все новости!
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}


    <h1>Все новости</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
<!--    <br>-->
    <h1>{{all_post|length}}</h1>
<!--    <br>-->
    <hr>
    <!-- Перед таблицей добавим форму для поиска -->
        <form method="GET">
            {{ filter.form.as_p }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
            <input type="submit" value="Найти">
        </form>
    <hr>
{% if Post %}
    <table style="margin: auto" border="2">
        <tr>
            <th> Автор </th>
            <th> Заголовок </th>
            <th> Дата публикации </th>
            <th> Статья </th>
            <th> Рейтинг </th>
        </tr>
{% for Post in filter.qs %}
        <tr>
            <td> {{ Post.postAuthor.authorUser.first_name }} </td>

            <td> {{ Post.rating }} </td>
        </tr>
{% endfor %}
    </table>
{% else %}
    <h2>Новостей нет!</h2>
{% endif %}
    <hr>
<!-- ===============================================================================================   -->




<!--=========================================================================================-->
<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    <p>Статей показано {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
{% endif %}
<!-- ========================================================================================================   -->
    <hr>
<!-- = Понять как работает метод POST = -->
<form method="POST">
    {% csrf_token %}
    <div> {{ form.as_p }} </div>
    <input type="submit" value="Добавить новость\статью">
</form>
<hr>
</div>

{% endblock content %}

